<div class="contenedor-avisos">
    <!-- Columna de Aviso de Privacidad -->
    <div class="columna-aviso">
        <h2>Avisos de privacidad y confidencialidad</h2>
    
        <h3>Responsable del tratamiento de los datos personales</h3>
        <p>“Venta de papel The Offices” es responsable del tratamiento de sus datos personales.</p>
        
        <h3>Finalidad del tratamiento de los datos</h3>
        <p>Los datos personales que recabamos de usted serán utilizados para las siguientes finalidades:</p>
        <ul>
        <li>Proveer los productos que ha solicitado.</li>
        <li>Procesar pagos y emitir facturas.</li>
        <li>Cumplir con obligaciones legales o contractuales.</li>
        <li>Mantener la seguridad de nuestras plataformas y garantizar una buena experiencia de usuario.</li>
        </ul>
        
        <h3>Datos personales que se recaban</h3>
        <p>Podremos recabar los siguientes datos personales:</p>
        <ul>
        <li>Nombre completo</li>
        <li>Dirección de correo electrónico</li>
        <li>Número de teléfono</li>
        <li>Dirección de facturación o envío</li>
        <li>Información de pago</li>
        </ul>
        
        <h3>Medios de recopilación de datos</h3>
        <p>Recabamos sus datos personales de las siguientes maneras:</p>
        <ul>
        <li>Directamente cuando nos los proporciona a través de formularios de contacto o registros en nuestra plataforma.</li>
        <li>Indirectamente mediante el uso de cookies y tecnologías similares para mejorar su experiencia en nuestro sitio web.</li>
        </ul>
        
        <h3>Transferencias de datos personales</h3>
        <p>No compartiremos sus datos personales con terceros, salvo en los siguientes casos:</p>
        <ul>
        <li>Autoridades cuando sea necesario para cumplir con obligaciones legales.</li>
        <li>Proveedores de servicios que nos ayuden en la operación del negocio, siempre que se aseguren medidas de protección adecuadas.</li>
        </ul>
        
        <h3>Derechos ARCO (Acceso, Rectificación, Cancelación, Oposición)</h3>
        <p>
        Usted tiene derecho a acceder a los datos personales que poseemos sobre usted, rectificarlos si son inexactos, 
        solicitar su cancelación cuando considere que no son necesarios para las finalidades establecidas o bien 
        oponerse al tratamiento de estos. Para ejercer cualquiera de estos derechos, puede contactarnos a través 
        de <a href="mailto:papeles.theoffice@gmail.com">papeles.theoffice&#64;gmail.com</a> indicando el derecho que desea ejercer.
        </p>
        
        <h3>Cambios al aviso de privacidad</h3>
        <p>
        Nos reservamos el derecho de hacer cambios a este Aviso de Privacidad en cualquier momento. Los cambios serán 
        comunicados a través de nuestro sitio web o por correo electrónico.
        </p>
        
        <h3>Contacto</h3>
        <p>
        Si tiene alguna duda sobre este aviso de privacidad, puede contactarnos en 
        <a href="mailto:papeles.theoffice@gmail.com">papeles.theoffice&#64;gmail.com</a>.
        </p>
    </div>
  
    <!-- Columna de Términos y Condiciones -->
    <div class="columna-terminos">
        <h2>Términos y Condiciones de Uso</h2>

        <p>Bienvenido a “Venta de papel The Offices”. Al acceder y utilizar y/o realizar compras de nuestros productos, usted acepta nuestros Términos y Condiciones de uso. Por favor, lea atentamente las siguientes disposiciones ya que al acceder a nuestro sitio o hacer uso de nuestros servicios, usted se encuentra en pleno acuerdo con ellas.</p>
      
        <h3>1. Privacidad</h3>
        <p>Le invitamos a revisar nuestro Aviso de Privacidad, el cual regula el uso de nuestro sitio web y servicios, para que conozca nuestras prácticas sobre la recolección y uso de datos personales.</p>
      
        <h3>2. Comunicaciones Electrónicas</h3>
        <p>Al utilizar nuestro sitio web o comunicarse con nosotros por medios electrónicos como correo electrónico, usted acepta recibir nuestras comunicaciones electrónicas. Todas las comunicaciones que le enviemos electrónicamente cumplirán con cualquier requisito legal y tendrán plena validez legal.</p>
      
        <h3>3. Derechos de Autor</h3>
        <p>Todo el contenido disponible en nuestro sitio web, incluyendo textos, gráficos, logotipos, imágenes y descargas digitales, es propiedad de “Venta de papel The Offices” o de sus proveedores, y está protegido por las leyes de propiedad intelectual aplicables. Queda prohibida la reproducción total o parcial de cualquier contenido sin autorización expresa por escrito.</p>
      
        <h3>4. Marcas</h3>
        <p>Todas las marcas, logotipos, nombres de productos, íconos y otros elementos relacionados con la marca que aparecen en este sitio web son propiedad de “Venta de papel The Offices” o de terceros con quienes colaboramos. El uso de estas marcas está prohibido sin nuestra autorización en productos o servicios que no pertenezcan a nuestra tienda.</p>
      
        <h3>5. Licencia y Acceso</h3>
        <p>Se le concede una licencia limitada, no exclusiva, no transferible y revocable para acceder y utilizar nuestro sitio web y servicios únicamente con fines personales y no comerciales. Cualquier otro uso del sitio web requiere nuestra autorización por escrito.</p>
      
        <h3>6. Su Cuenta</h3>
        <p>Para acceder a ciertas funciones de nuestro sitio web, es posible que necesite crear una cuenta. Usted es responsable de mantener la confidencialidad de su cuenta y contraseña, así como de todas las actividades que se realicen desde su cuenta. “Venta de papel The Offices” se reserva el derecho de cancelar o suspender su cuenta en caso de actividades no autorizadas o sospechosas.</p>
      
        <h3>7. Opiniones, Comentarios y Otros Contenidos</h3>
        <p>Los usuarios pueden publicar opiniones, comentarios y otros contenidos siempre que estos no sean ilegales, ofensivos, difamatorios o violen los derechos de propiedad intelectual de terceros. Al publicar contenido, usted otorga a “Venta de papel The Offices” un derecho no exclusivo, perpetuo y sublicenciable para utilizar dicho contenido.</p>
      
        <h3>8. Descripción de Productos y Disponibilidad</h3>
        <p>Nos esforzamos por ser lo más precisos posible en las descripciones de los productos. Sin embargo, no garantizamos que las descripciones o cualquier otro contenido del sitio sean exactos, completos, actuales o libres de errores. La disponibilidad de los productos puede variar y está sujeta a cambios sin previo aviso.</p>
      
        <h3>9. Precios</h3>
        <p>Todos los precios mostrados en el sitio incluyen los impuestos aplicables, a menos que se indique lo contrario.</p>
      
        <h3>10. Garantía y Devoluciones</h3>
        <p>Ofrecemos una política de devoluciones para productos que se encuentren en condiciones defectuosas y sin uso, contactándose por los medios oficiales para un trato directo. No se aceptarán cancelaciones de pedidos después de 24 horas del pago del pedido.</p>
      
        <h3>11. Limitación de Responsabilidad</h3>
        <p>No nos hacemos responsables de los daños directos o indirectos que puedan surgir del uso de nuestros productos o servicios, salvo disposición legal en contrario.</p>
      
        <h3>12. Modificación de los Términos</h3>
        <p>Nos reservamos el derecho de modificar el sitio web, las políticas y estos Términos y Condiciones en cualquier momento. Si alguna disposición de estos términos es considerada inválida o inaplicable, dicha disposición se considerará independiente del resto de los términos, los cuales continuarán en pleno vigor.</p>
      
        <h3>13. Controversias</h3>
        <p>Cualquier controversia o reclamación relacionada con el uso de nuestro sitio web, productos o servicios será resuelta conforme a las leyes y jurisdicción aplicables en [País/Estado]. Antes de acudir a instancias judiciales, intentaremos resolver cualquier conflicto mediante mediación o arbitraje.</p>
      
      <!-- Agrega más secciones de Términos y Condiciones aquí -->
    </div>
  </div>
  