<div class="contacto-container">
    <div class="imagen-empresa">
      <img src="assets\Logo.png" alt="Logo TheOffices" class="imagen">
    </div>
    <div class="contenido">
      <h2>Misión</h2>
      <p>Proporcionar productos de papel y suministros de oficina de alta calidad, ofreciendo un servicio al cliente excepcional para satisfacer las necesidades de empresas y consumidores, contribuyendo al éxito y eficiencia de sus operaciones diarias.</p>
      
      <h2>Visión</h2>
      <p>Convertirse en el proveedor líder en el mercado de suministros de oficina, reconocidos por nuestra innovación, confiabilidad y relaciones duraderas con los clientes, expandiendo nuestra presencia a nivel regional y nacional.</p>
      
      <div class="informacion">
        <div>
          <h3>Dirección</h3>
          <p>Tallahassee, Florida</p>
        </div>
        <div>
          <h3>Correo</h3>
          <p><a href="mailto:papeles.theoffice@gmail.com">papeles.theoffice&#64;gmail.com</a></p>
        </div>
        <div>
          <h3>Teléfono</h3>
          <p>33 1459 5049</p>
        </div>
        
      </div>
  
      <div class="botones">
        <button class="boton-preguntas" (click)="irAPreguntasFrecuentes()">Preguntas Frecuentes</button>
        <button class="boton-privacidad" (click)="irAAvisoTerminos()">Avisos de Privacidad y Confidencialidad</button>
        
      </div>
      <button class="boton-privacidad" style="width: 100%; margin-top: 20px;" (click)="irAAvisoTerminos()">Terminos y Condiciones</button>
      
    </div>
  </div>
  