<section class="product-grid">
    <div *ngIf="esAdmin" class="add-product">
        <button (click)="agregarProducto()">Agregar Nuevo Producto</button>
      </div>
    <div *ngFor="let producto of productos" class="product">
        <img class="foto" src="https://static.vecteezy.com/system/resources/previews/016/473/802/non_2x/sheets-of-paper-png.png" alt="papel">
        <h3>{{ producto.Nombre }}</h3>
        <div class="product-details">
            <p class="descripcion">{{ producto.Descripcion }}</p>
            <p class="precio">Precio: {{ producto.Precio | currency }}</p>
        </div>
        <p> Existencias: {{producto.Cantidad}}</p>
        <hr>
        <button *ngIf="!esAdmin" (click)="addToCart(producto)">Añadir al Carrito</button>
        <button *ngIf="esAdmin" (click)="modificarProducto(producto)">Modificar Producto</button>
        <button *ngIf="esAdmin" (click)="eliminarProducto(producto)">Eliminar Producto</button>
    
    </div>
</section>

