<div class="forgot-password-form-container">
    <h2>Recuperar Contraseña</h2>
  
    <!-- Primer formulario: Usuario -->
    <form (ngSubmit)="onSubmit(forgotPasswordForm)" #forgotPasswordForm="ngForm">
      <div>
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          ngModel
          required
          minlength="3"
          #username="ngModel"
        />
        <div *ngIf="username.invalid && username.touched" class="error-message">
          El username es requerido y debe tener al menos 3 caracteres.
        </div>
      </div>
      <button type="submit" [disabled]="forgotPasswordForm.invalid">Enviar</button>
    </form>
  
    <!-- Segundo formulario: Pregunta -->
    <div *ngIf="mostrarPregunta">
      <h3>Pregunta de seguridad:</h3>
      <p>{{ pregunta }}</p> <!-- Mostrar la pregunta recibida del servidor -->
  
      <form (ngSubmit)="onAnswerSubmit(answerForm)" #answerForm="ngForm">
        <div>
          <label for="respuesta">Respuesta:</label>
          <input
            type="text"
            id="respuesta"
            name="respuesta"
            ngModel
            required
            minlength="3"
            #respuesta="ngModel"
          />
          <div *ngIf="respuesta.invalid && respuesta.touched" class="error-message">
            La respuesta es requerida y debe tener al menos 3 caracteres.
          </div>
        </div>
        <button type="submit" [disabled]="answerForm.invalid">Enviar Respuesta</button>
      </form>
    </div>
  </div>
  