<img src="assets/Logo.png" alt="Logo TheOffices" class="logo">
<div>
    <h2>TheOffices</h2>
    <form (ngSubmit)="onLogin()">
      <div>
        <label for="username">Usuario:</label>
        <input type="text" id="username" [(ngModel)]="username" name="username" required>
      </div>
      <div>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required>
      </div>
      <button type="submit">Iniciar sesión</button>
    </form>
    <button class="create-account" (click)="register()">Crear una cuenta</button> <!-- Botón para crear una cuenta -->
    <button class="recuperate" (click)="recuperate()">Recuperar Contraseña</button>
</div>
