<h2>Modificar Producto</h2>
<form *ngIf="producto">
    <div>
      <label for="nombre">Nombre:</label>
      <input id="nombre" [(ngModel)]="producto.Nombre" name="nombre" type="text" required>
    </div>
    <div>
      <label for="descripcion">Descripción:</label>
      <textarea id="descripcion" [(ngModel)]="producto.Descripcion" name="descripcion"></textarea>
    </div>
    <div>
      <label for="precio">Precio:</label>
      <input id="precio" [(ngModel)]="producto.Precio" name="precio" type="number" required>
    </div>
    <div>
      <label for="cantidad">Cantidad:</label>
      <input id="cantidad" [(ngModel)]="producto.Cantidad" name="cantidad" type="number" required>
    </div>
    <button type="button" (click)="guardarCambios()">Guardar Cambios</button>
    <button type="button" (click)="cancelar()">Cancelar</button>
  </form>
  
