<div class="seccion-faq">
    <h2>Preguntas Frecuentes</h2>
    
    <div class="faq-item">
        <h3>¿Cuánto tiempo tarda en procesarse mi pedido?</h3>
        <p>El tiempo de procesamiento de los pedidos es generalmente de 1 a 2 días hábiles. Una vez procesado, recibirá un correo electrónico con los detalles del envío y el número de seguimiento.</p>
      </div>
      
      <div class="faq-item">
        <h3>¿Cuál es el costo de envío?</h3>
        <p>El costo de envío depende de la ubicación y el tamaño del pedido. Ofrecemos envío gratuito en compras superiores a un monto específico. Consulte nuestra política de envíos para más detalles.</p>
      </div>
      
      <div class="faq-item">
        <h3>¿Qué métodos de pago aceptan?</h3>
        <p>Aceptamos tarjetas de crédito, débito, transferencias bancarias y pagos en efectivo a través de métodos autorizados. Para más detalles sobre métodos de pago, visite nuestra sección de ayuda.</p>
      </div>
      
      <div class="faq-item">
        <h3>¿Puedo modificar mi pedido después de realizarlo?</h3>
        <p>Para modificar un pedido después de realizarlo, comuníquese con nuestro equipo de soporte lo antes posible. Los cambios en el pedido dependerán de si ya ha sido procesado o enviado.</p>
      </div>
      
      <div class="faq-item">
        <h3>¿Cómo puedo rastrear mi pedido?</h3>
        <p>Una vez que su pedido sea enviado, recibirá un número de seguimiento por correo electrónico. Puede usar este número para rastrear el estado de su pedido en nuestro sitio web o en el portal de la empresa de mensajería.</p>
      </div>
      
      <div class="faq-item">
        <h3>¿Cuál es su política de devoluciones?</h3>
        <p>Aceptamos devoluciones dentro de los primeros 30 días a partir de la fecha de compra, siempre que el producto esté en su estado original. Consulte nuestra política de devoluciones para más información.</p>
      </div>
      
      <div class="faq-item">
        <h3>¿Cómo puedo contactar con el servicio al cliente?</h3>
        <p>Puede ponerse en contacto con nuestro equipo de servicio al cliente a través de nuestro formulario de contacto o enviando un correo a <a href="mailto:papeles.theoffice@gmail.com">papeles.theoffice&#64;gmail.com</a> Nuestro horario de atención es de lunes a viernes, de 9:00 a 18:00.</p>
      </div>
      
      <div class="faq-item">
        <h3>¿Tienen descuentos para compras al mayoreo?</h3>
        <p>Sí, ofrecemos descuentos especiales para pedidos grandes o compras al mayoreo. Para más información, contacte a nuestro equipo de ventas en <a href="mailto:papeles.theoffice@gmail.com">papeles.theoffice&#64;gmail.com</a></p>
      </div>
      
  </div>
  